haskell/test-wf/wf.dtd

<!ELEMENT workflow (start,node*)>
<!ATTLIST workflow
          id ID #REQUIRED
          workflow version CDATA #REQUIRED>

<!ELEMENT start (arc*)>

<!ELEMENT node (arc*)>
<!ATTLIST node
          id ID #REQUIRED
          type (requireSingle|requireAll) "requireAll">

<!ELEMENT arc (#PCDATA)>
<!ATTLIST arc to IDREF #REQUIRED>

